body {
    margin: auto 0;
}

.my-nav-container {
    background: rgba(241, 241, 224, 0.856);
    transition: all 0.3s linear;
    z-index: 1;
}

.my-transition {
    transition: all 0.3s linear;
}

/* nav */
.my-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.my-main-menu {
    display: flex;
    margin: 0;
    color: rgb(14, 15, 15);
    list-style: none;
}

.my-main-menu > li {
    cursor:pointer;
    padding: 10px;
}

.my-push-right {
    margin-left: auto;
}

.my-push-right > a {
    text-decoration: none;
    color: black;
}

.my-dropdown {
    position: relative;
}

.my-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: white;
    /* padding: 20px; */
    /* padding: 25px 1px; */
    /* margin: 10px; */
    top: 40px;
    right: 0;
    left: 0;
    width: 150px;
    /* left: 0; */
    /* width: 150px; */
    z-index: 1;
    margin: 0;
    padding: 0;
}

.my-dropdown:hover .my-dropdown-content {
    display: block;
}

.my-dropdown-content > li {
    color: black;
    list-style: none;
    padding: 10px;
}

.my-dropdown-content > li > a {
    color: black;
    padding: 0;
    text-decoration: none;
}

.my-dropdown-content > li:hover > a {
    /* background: rgb(39, 57, 68); */
    color: aliceblue;
    text-decoration: none;
}


.my-dropdown-content > li:hover {
    background: rgb(39, 57, 68);
}

.my-sub-dropdown {
    position: relative;
}

.my-sub-dropdown:hover {
    color: aliceblue;
}

.my-sub-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: white;
    /* padding: 20px; */
    /* padding: 25px 1px; */
    /* margin: 10px; */
    top: 0;
    right: 0;
    left: 150px;
    width: 155px;
    /* z-index: 1; */
    /* margin: 0; */
    padding: 0;
    list-style: none;
}

.my-sub-dropdown-content > li {
    padding: 10px;
}

.my-sub-dropdown-content > li > a {
    color: black;
    text-decoration: none;
}

.my-sub-dropdown-content > li:hover {
    background: rgb(39, 57, 68);
    color: aliceblue;
}

.my-sub-dropdown-content > li:hover > a {
    background: rgb(39, 57, 68);
    color: aliceblue;
}

.my-sub-dropdown:hover .my-sub-dropdown-content {
    display: block;
}

/* css for beranda mahasiswa */
.my-mhs-container > h3 {
    margin-top: 60px;
    text-align: center;
}

.login-container {
    background: rgba(235, 235, 201, 0.959);
    padding: 40px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    transition: all 0.3s linear;
}

.login-container:hover {
    -webkit-box-shadow: 0px 10px 24px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 24px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 24px -2px rgba(0,0,0,0.75);
}
/* css for beranda mahasiswa */

/* carousel */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    /* width: 100%; */
    height: 400px;
    margin: auto;
}

.container {
    position: relative;
    top: 20px;
    padding: 0;
    width: 100%;
    z-index: 0;
}

.box {
    position: relative;
    /* margin: 0 auto 80px; */
    padding: 0 0 40px;
    /* max-width: 840px; */
    text-align: center;
    background: #fff;
}

.box:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: -1;
}

/* card grid */

section > h3 {
    margin-top: 50px;
    margin-left: 10px;
}

.my-grid-container {
    display: grid;
    margin-top: 20px;
    justify-content: start;
    grid-template-columns: 350px 350px 1fr;
    grid-gap: 10px;
    margin-left: 10px;
}

.my-grid-item {
    background: rgba(232, 232, 241, 0.377);
    width: 350px;
    height: 420px;
    position: relative;
    top: 0;
}

.my-grid-item > img {
    width: 350px;
    height: 300px;
}

.my-grid-item .my-title {
    position: absolute;
    top: 30%;
    /* background: red; */
    width: 100%;
    text-align: center;
}

.my-aside {
    margin-left: auto;
    right: 10px;
}

.my-grid-container > .my-grid-item {
    transition: all 0.3s ease-in;
}

.my-grid-container > .my-grid-item:hover {
    opacity: 0.8;
    -webkit-box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.48);
    box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.48);
}
/* card grid */